<div class="container">
    <div class="input-group mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Chercher un employé</span>
        </div>
        <input type="text" class="form-control" placeholder="Nom Prénom" aria-label="Nom Prénom"
            aria-describedby="basic-addon1" #fullNameEmployee [(ngModel)]="searchTerm" name="searchTerm">
    </div>
    <div>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th scope="col">Identifiant</th>
                    <th scope="col">Sexe</th>
                    <th scope="col">Date de naissance</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Salaire</th>
                    <th scope="col">Date d'embauche</th>
                    <th scope="col">Job</th>
                </tr>
                <tbody *ngFor="let employee of employees | searchFilter: searchTerm">
                    <tr>
                        <th scope="row">{{employee.idEmployee}}</th>
                        <td>{{sexTypeUi[employee.sexEmployee].label}}</td>
                        <td>{{employee.brithdayEmployee | date:'dd/MM/yyyy'}}</td>
                        <td>{{employee.lastNameEmployee}}</td>
                        <td>{{employee.firstNameEmployee}}</td>
                        <td>{{employee.salaryEmployee}}</td>
                        <td>{{employee.hiringDateEmployee| date:'dd/MM/yyyy'}}</td>
                        <td>{{jobTypeUi[employee.job.idJob].label}}</td>
                        <td><a class="btn btn-danger" (click)="deleteEmployeeById(employee)"
                                *ngIf="authService.isAdmin()">Supprimer</a></td>
                        <td><a class="btn btn-success" [routerLink]="['/update-employee',employee.idEmployee]"
                                *ngIf="authService.isAdmin()">Modifier</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>