<div class="container">
    <div class="input-group mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Chercher un employé</span>
        </div>
        <input type="text" class="form-control" placeholder="Nom Prénom" aria-label="Nom Prénom"
            aria-describedby="basic-addon1" #fullNameEmployee [(ngModel)]="searchTerm" name="searchTerm"> 
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Sexe</th>
                    <th>Date de naissance</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Salaire</th>
                    <th>Date d'embauche</th>
                    <th>Job</th>
                </tr>
                <tbody *ngFor="let employee of employees | searchFilter: searchTerm">
                    <tr>
                        <td>{{employee.idEmployee}}</td>
                        <td>{{employee.sexEmployee}}</td>
                        <td>{{employee.brithdayEmployee | date:'dd/MM/yyyy'}}</td>
                        <td>{{employee.lastNameEmployee}}</td>
                        <td>{{employee.firstNameEmployee}}</td>
                        <td>{{employee.salaryEmployee}}</td>
                        <td>{{employee.hiringDateEmployee| date:'dd/MM/yyyy'}}</td>
                        <td>{{employee.job.idJob}}</td>
                        <td><a class="btn btn-danger" (click)="deleteEmployeeById(employee)">Supprimer</a></td>
                        <td><a class="btn btn-success"
                                [routerLink]="['/update-employee',employee.idEmployee]">Modifier</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>