<div class="container">
    <!-- <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
        <app-add-update-job [job]="job" (jobUpdated)= "jobUpdated($event)" 
        (jobCreated)= "jobCreated($event)" [addJobBool]="addJobBool"></app-add-update-job>
    </div> -->
    <div class="input-group mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Chercher un job</span>
        </div>
        <input type="text" class="form-control" placeholder="Identifiant" aria-label="Identifiant"
            aria-describedby="basic-addon1" #idJob [(ngModel)]="searchTerm" name="searchTerm">
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Statut</th>
                        <th>Salaire Min</th>
                        <th>Salaire Max</th>
                    </tr>
                </thead>
                <tbody *ngFor="let job of jobs | searchFilter: searchTerm">
                    <tr>
                        <td>{{job.idJob}}</td>
                        <td>{{job.statusJob}}</td>
                        <td>{{job.salaryMinJob}}</td>
                        <td>{{job.salaryMaxJob}}</td>
                        <td><a class="btn btn-danger" (click)="deleteJobById(job.idJob)"
                                *ngIf="authService.isAdmin()">Supprimer</a></td>
                        <td><a class="btn btn-success" [routerLink]="['/update-job',job.idJob]"
                                *ngIf="authService.isAdmin()">Editer</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>