<div class="container">
    <h2>Modifier un Produit :</h2>
    <form>
        <div hidden class="col-sm-2 col-md-2 col-lg-2">
            <label>ID </label>
            <input type="number" [(ngModel)]="currentEmployee.idEmployee" name="idEmployee" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Sexe </label>
            <select class="form-control" id="sexEmployee" name="sexEmployee" [(ngModel)]="currentEmployee.sexEmployee">
                <option value="{{sexType.FEMININ}}">{{sexTypeUi[sexType.FEMININ].label}}</option>
                <option value="{{sexType.MASCULIN}}">{{sexTypeUi[sexType.MASCULIN].label}}</option>
            </select>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date de naissance</label>
            <input type="date" [ngModel]="currentEmployee.brithdayEmployee | date: 'yyyy-MM-dd'"
                (ngModelChange)=" currentEmployee.brithdayEmployee= $event" name="brithdayEmployee"
                class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom </label>
            <input type="text" [(ngModel)]="currentEmployee.lastNameEmployee" name="lastNameEmployee"
                class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Prénom </label>
            <input type="text" [(ngModel)]="currentEmployee.firstNameEmployee" name="firstNameEmployee"
                class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Salaire</label>
            <input type="number" [(ngModel)]="currentEmployee.salaryEmployee" name="salaryEmployee"
                class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date d'embauche</label>
            <input type="date" [ngModel]="currentEmployee.hiringDateEmployee | date: 'yyyy-MM-dd'"
                (ngModelChange)=" currentEmployee.hiringDateEmployee= $event" name="hiringDateEmployee"
                class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Job</label>
            <select class="form-control" id="idJob" name="idJob" [(ngModel)]="jobId">
                <option *ngFor="let job of jobs" [value]="job.idJob">
                    {{jobTypeUi[job.idJob].label}}
                </option>
            </select>
        </div>
        <div class="mt-2">
            <button type="button" (click)="updateEmployee()" class="btn btn-success">Modifer</button>
        </div>
    </form>
</div>